@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald);
header {
  background-color: #388e3c;
  padding: 5% 0%;
  border-bottom: 2px solid #1b451d; }
  header h1 {
    text-align: center;
    color: white;
    font-size: 5em; }

.agregar {
  background-color: #009197;
  padding: 10% 0%;
  text-align: center; }
  .agregar h3 {
    margin-bottom: 50px;
    font-size: 30px;
    color: white; }
    .agregar h3 i {
      font-size: 35px;
      padding: 5px; }
  .agregar .btn-group {
    width: 100%; }
    .agregar .btn-group .btn-default {
      padding: 5px;
      font-family: Oswald;
      font-size: 30px;
      width: 100%;
      background-color: #388e3c;
      margin: 0px;
      color: white;
      padding: 5px;
      font-weight: bold;
      font-size: 18px;
      border: 1px solid darken #388e3c, 20%;
      border-radius: 10px; }
      .agregar .btn-group .btn-default:hover {
        font-weight: bold;
        background-color: #225725; }
    .agregar .btn-group .dropdown-menu {
      background-color: #46b34b !important; }
      .agregar .btn-group .dropdown-menu li {
        color: white;
        font-size: 20px;
        font-weight: bold; }
  .agregar #texto {
    border: 1px solid #0d200e;
    padding: 10px;
    font-weight: bold;
    width: 80%; }
  .agregar #ADD {
    font-family: Oswald;
    font-size: 30px;
    width: 10%;
    background-color: #388e3c;
    margin: 20px 0px;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid darken #388e3c, 20%;
    border-radius: 10px; }
    .agregar #ADD:hover {
      font-weight: bold;
      background-color: #225725; }

.lista {
  background-color: #388e3c;
  padding: 5% 0%;
  border-top: 2px solid #1b451d; }
  .lista h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: Oswald;
    color: white; }
  .lista #events li {
    background-color: #56bc5b;
    border: 1px solid white;
    padding: 15px 5px;
    margin: 5px 0px;
    color: white;
    font-size: 25px;
    font-weight: bold; }
    .lista #events li .option {
      margin-right: 30px;
      width: 20px;
      height: 20px; }
    .lista #events li #basurero {
      font-size: 25px;
      float: right;
      padding: 3px 7px;
      border: 1px solid white;
      background-color: #388e3c; }
      .lista #events li #basurero:hover {
        color: #388e3c;
        background-color: #2a692d; }

* {
  font-family: open sans; }

h1 {
  font-family: Oswald; }

ul {
  list-style: none; }
  ul li {
    color: white;
    font-size: bold;
    font-family: oswald;
    font-size: 23px; }

.tachado {
  text-decoration: line-through; }

@media (min-width: 300px) and (max-width: 767px) {
  .agregar {
    padding: 12% 0% !important; }
    .agregar #ADD {
      width: 30%;
      background-color: #388e3c;
      margin: 20px 0px;
      color: white;
      padding: 5px;
      font-weight: bold;
      font-size: 18px;
      border: 1px solid darken #388e3c, 20%;
      border-radius: 10px; }
      .agregar #ADD:hover {
        font-weight: bold;
        background-color: #225725; } }

/*# sourceMappingURL=main.css.map */
