*{
	font-family: open sans;
}
h1{
	font-family: Oswald;
}
ul{
	list-style: none;
	li{
		color: white;
		font-size: bold;
		font-family: oswald;
		font-size: 23px;
	}
}
.tachado{
	text-decoration: line-through;
}